#GIT IGNORE

# Ignore npm modules
node_modules/

# Ignore the dist directory were our bundle files are going to be
dist/*
!dist/components
!dist/public
!dist/*.html

# Folder view configuration files
.DS_Store
Desktop.ini

#SASS ignore
.sass-cache/
*.css.map
