#GIT IGNORE

# Ignore npm modules
node_modules/

# Ignore the dist directory were our bundle files are going to be
dist/bundle.js
dist/bundle.js.map

# Ignore all fine .sgv
*.svg

#...exception in the file
!src/img/*.svg

# Ignore all
*.DS_Store
