#GIT IGNORE

# Ignore npm modules
node_modules/

# Ignore the dist directory were our bundle files are going to be
dist/bundle.js
dist/bundle.js.map

# Ignore all fine .sgv
dist/.svg

#...exception in the file
#!src/img/*.svg

# Folder view configuration files
.DS_Store
Desktop.ini

#SASS ignore
.sass-cache/
*.css.map
