.body-request{
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-text-light;
  margin-top: 90px;
  input {
    // width: 400px;
    // height:28px;
    font-size:10px;
  }
  textarea {
    // width: 400px;
    // height:28px;
    font-size:10px;
  }
}
