.menu-color{
	background-color: $color-background-light;
	& a{
		color: black ;
	}
}

.btw-down {

    font-size: 14px;
    font-style: bold;
    border-radius: 22.5px 22.5px;
    border: 0px;
    font-family: "Rufina", serif;
}