/* Large desktop */
@media (min-width: 1200px) {
	.logo-card{
		width: 50%;
		margin: 0 auto;
	}
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


 }

/* Landscape phones and down */
@media (max-width: 480px) {
  .jumbotronHome1{
    background-size: 200% 100% ;
    background-position:center;
  }
	.buttonCard{
		margin-top: 10px;
		position: absolute;
		color: $color-text-dark;
	}
	.row-fluid{
		&.awardsRecognition{
			margin-top: 0px;
		}
	}
 }
