
// BMW LOGO
#bmw-logo{ content: url("../img/bmw-logo/bmw-logo.svg"); }
#bmw-logo-dark{ content: url("../img/bmw-logo/bmw-logo-dark.svg"); }
// OUR COSTUMERS LOGO
#bacardi{ content: url("../img/our-costumers/bacardi.svg"); }
#del-monte{ content: url("../img/our-costumers/del-monte.svg"); }
#nbc{ content: url("../img/our-costumers/nbc.svg"); }
#vikua{ content: url("../img/our-costumers/vikua.svg"); }
#taima{ content: url("../img/our-costumers/taima.svg"); }
#siplik{ content: url("../img/our-costumers/siplik.svg"); }
// AWARDS
#prodly-recognize{ content: url("../img/awards/prodly-recognize_FIX.svg"); }
#global-peace{ content: url("../img/awards/global-peace_FIX.svg"); }
#king-of-year{ content: url("../img/awards/king-of-year_FIX.svg"); }
#wedding-wire{ content: url("../img/awards/wedding-wire_FIX.svg"); }
#wedding-wire-black{ content: url("../img/awards/wedding-wire-black.svg"); }
#wedding-wire-point{ content: url("../img/awards/wedding-wire-point_FIX.svg"); }
#wedding-wire-awards{ content: url("../img/awards/wedding-wire-awards_FIX.svg"); }
