.logo{
  &.large{
    width: 70% !important;
  }
  &.medium{
    width: 35% !important;
  }
  &.medium-client{
    width: 25% !important;
  }
  &.medium-dark{
    width: 60% !important;
  }
  &.small{
    width: 10% !important;
  }
  &.awards{
  max-height: 80px;
  // filter: invert(100%);
  }

}
