/*
*   Modules dependencies
*/
@import "~bootstrap/scss/bootstrap";
@import "colors";
@import "custom";
@import "tipography";
@import "button";
@import "display";
@import "views/home";

// TAGS
body {
	background-color: $color-background-light;
}
a{
	color: $color-text-light;
}
label{
	margin-bottom: 0px;
}
input{
	height: 27px;
	margin-right: 10px;
}
.row{
	margin-left: 0;
	margin-right: 0;
}
// CLASS
.pos-f-t{
	background-color: $color-navbar;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.center-div{
     margin: 0 auto;
     width: 100px;
}
.card-body{
	background-color: $color-background-light;
	height: 50px;
	font-size: 13.4px;
}
.card{
	border: none;
}
.fa-star{
	font-size:1em;
	color:$color-stars;
}
.jumbotron{
	padding: 1rem;
	margin: 0px;
	background-repeat: no-repeat;
	&.jumbotron-standard{
		background-size: 100% ;

	}
	&.jumbotron-cover{
		background-size: cover;
		color: $color-text-light;
	}
}
.jumbobot{
	padding-top: 10rem;
}
.card-img-top2{
	width: 60%;
    margin-top: 40px;
}
.card-img-top3{
	width: 100%;
}
.card-img-top4{
	width: 100%;
}
.paragraph{
    margin: 0 auto;

}
.logoAward{
	margin-top: 35px;
  	margin: 0 auto;
}
.awardsRecognition{
	background-color: $color-background-dark;
	color: $color-text-light;
}
.separators{
	background-color: $color-navbar;
	font-size: 15.3px;
}
.media-body{
	font-size: 13.4px;
}
.footer{
	background-color: $color-background-dark;
	color: $color-text-light;
}
.socialMediaLogo{
  font-size:1.5em;
  color:$color-text-dark;
	padding-left: 100px;
}
.buttonCard{
	margin-top: -80px;
	position: relative;
	color: $color-text-light;
}
.padding-all{
	padding: 20px 0 20px 0;
}
.row-fluid{
	&.awardsRecognition{
		margin-top: 90px;
	}
}
.form-group {
    display: flex;
    align-items: center;
}
.submit{
	font-size: 10px;
}
.clickHere{
	text-decoration: underline;
	&:hover{
		color:grey;
	}
	&.a1{
		color: $color-text-light;
	}
	&.a2{
		color: $color-text-dark;
	}
}
.rounded{
	margin-right: 30px;
	margin-top: 10px;
}
.footClient{
	font-size: 9px;
}
.footer{
	font-size: 10px;
	margin: 0px;
	padding: 40px;
}
.logoFooterArea{
	color:$color-navbar;
	&.p1{
		font-size: 8px;
		margin: 0px;
	}
	&.p2{
		font-size: 7px;
	}
}
.footerLink{
	margin-top: 40px;
	margin-bottom: 50px;
}
.titleFooter{
	font-size: 16px;
	&.subOption{
		font-size: 11.20px;
	}
}
.footerImage{
	margin-left: 5px;
}
.floating-half{
	width: 50%;
	float: left;
}
	.mobile-footer{
		font-size: 15.3px;
	}

.card-body{
	height: 150px;
}
.lead{
	font-size: 17px;
	line-height: 100%;
}
.lead-title{
	line-height: 1.6;
	margin-bottom: -15px;
}
	.p-5 {
	    padding: 2rem !important;
	}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.jumbotron{
    background-size: 100% 100% ;
    background-position:center;
  }
  .mobile-footer{
		display: none;
		padding: 0;
	}
 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
.jumbotronHome1{
    background-size: 110% 100% ;
    background-position:center;
  }
	.form-group,.group-images,.text-testimonial,.principal-footer{
		display: none;
	}
	.jumbobot{
	padding-top: 2rem;
}
 }

/* Landscape phones and down */
@media (max-width: 480px) {
	.jumbobot{
		padding-top: 3rem;
	}
  .jumbotron{
	height: 350px;
	background-repeat: no-repeat;
		&.jumbotron-standard{
			background-size: 150% ;
			background-position: center;
		}
		&.jumbotron-cover{
			background-size: cover;
			color: $color-text-light;
		}
	}


  .jumbotronHome2{
  	height: 400px;
  }
	.buttonCard{
		margin-top: 10px;
		color: $color-text-dark;
	}
	.row-fluid{
		&.awardsRecognition{
			margin-top: 0px;
		}
	}
	.card-body{
		height: 250px;
	}
	.card-text{
		margin-top: 20px;
	}
	.img-group-1{
		margin-top: 20px;
	}
	.awardsRecognition {
		height: 400px;
	}
	.form-group,.group-images,.text-testimonial,.principal-footer{
		display: none;
	}
	.mr-3{
		float: left;
	}
	.media-body{
		text-align: left;
	}
 }
