/*
*   Modules dependencies
*/
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "colors";
@import "tipography";

// TAGS
body {
	background-color: $color-background-light;
	font-family: $font-text;
}
a{
	text-decoration: underline;
	color: $color-text-light;
}

// CLASS
.pos-f-t{
	background-color: $color-navbar;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.center-div
{
     margin: 0 auto;
     width: 100px;
}
.card-body{
	background-color: $color-background-light;
}
.card{
	border: none;
}



.fa-star{
	font-size:0.5em;
	color:$color-stars;

}

//ID
#jumbotronHome1{
	background-image: url('../../dist/public/img/banner1.jpg');
	background-size: 100% ;

	height: 600px;
	padding: 0px;
	margin: 0px;
}
#awardsRecognition{
	background-color: $color-background-dark;
	color: $color-text-light;
	height: 250px;
}
#socialMediaLogo{
  font-size:1em;
  color:$color-text-dark;
}
#jumbotronHome2{
	background-image: url('http://via.placeholder.com/600x300');
	background-size: cover;
	height: 500px;
}
#separators{
	background-color: $color-navbar;
}
#footer{
	background-color: $color-background-dark;
	color: $color-text-light;
}

.buttonCard{
	margin-top: -80px;
}
.padding-all{
	padding: 20px 0 20px 0;
}

/* Large desktop */
@media (min-width: 1200px) {
	.logo-card{
		width: 50%;

		margin: 0 auto;
	}

 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


 }

/* Landscape phones and down */
@media (max-width: 480px) {
#jumbotronHome1{

	background-size: 200% 100% ;
	background-position:center;
}
 }